{% extends "./layout/default.html" %} {% block title %} Home {% endblock title
%} {% block body %}
<main class="main">
    <section class="container-sm my-5">
        <div class="d-flex justify-content-between pb-5">
            <h3>Novedades</h3>
            <a href="#" class="link">Ver todos los productos</a>
        </div>
        <div class="row row-cols-4 gap-2">
            <div class="col bg-white">
                <div class="card">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20220309/inTn/6227b81faeb26921afcde577/-286Wx359H-441137362-white-MODEL.jpg"
                        class="card-img-top" alt="data" />
                    <div class="card-body">
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary w-full"><i class="bi bi-bag-check"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col bg-white">
                <div class="card">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20220309/inTn/6227b81faeb26921afcde577/-286Wx359H-441137362-white-MODEL.jpg"
                        class="card-img-top" alt="data" />
                    <div class="card-body">
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary w-full"><i class="bi bi-bag-check"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col bg-white">
                <div class="card">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20220309/inTn/6227b81faeb26921afcde577/-286Wx359H-441137362-white-MODEL.jpg"
                        class="card-img-top" alt="data" />
                    <div class="card-body">
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary w-full"><i class="bi bi-bag-check"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col bg-white">
                <div class="card">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20220309/inTn/6227b81faeb26921afcde577/-286Wx359H-441137362-white-MODEL.jpg"
                        class="card-img-top" alt="data" />
                    <div class="card-body">
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary w-full"><i class="bi bi-bag-check"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col bg-white">
                <div class="card">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20220309/inTn/6227b81faeb26921afcde577/-286Wx359H-441137362-white-MODEL.jpg"
                        class="card-img-top" alt="data" />
                    <div class="card-body">
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary w-full"><i class="bi bi-bag-check"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</main>
{% endblock %}