{% extends "./layout/default.html" %} {% block title %} Home {% endblock title
%} {% block navMain %}

<section class="d-flex" style="height: calc(100vh - 100px)">
  <div class="hero__main container">
    <div>
      <h1 class="text-start f-bold" style="font-size: 3rem">
        Estilo es usar lo que te hace sentir bien.
      </h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero beatae
        iste ea vitae dignissimos, ducimus qui est perspiciatis facilis?
        Exercitationem modi cumque vel maiores fugiat?
      </p>
      <a href="#" class="btn btn-primary">Explorar ahora!</a>
    </div>
    <div>
      <img
        class="img-fluid"
        src="{{url_for('static',filename='assets/girl.png')}}"
      />
    </div>
  </div>
</section>
{% endblock %} {% block body %}
<main class="main">
  <section class="container-main my-5">
    <div class="d-flex justify-content-between pb-5">
      <h3>Novedades</h3>
      <a href="#" class="link">Ver todos los productos</a>
    </div>
    <div class="main__grid">
      {% for item in products %}

      <a
        href="product/{{item[0]}}"
        class="text-decoration-none shadow-sm position-relative"
        style="width: 20rem"
        data-aos="fade-up"
      >
        <div class="card">
          <img src="{{item[6]}}" class="card-img-top" alt="data" />
          <div class="card-body">
            <h4>{{item[1]}}</h4>
            <p class="text-decoration-line-through">$ {{item[3]}}</p>
            <p>$ {{item[8]}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
