{% extends "layout/default.html" %} {% block title %}Buscar - {{nameSearch}}
{%endblock title %} {% block body %}
<main class="main container-main py-4">
  <section class="container-sm"><h3 class="mb-4">Resultados</h3></section>
  <div class="main__grid-col-2">
    <a href="/product/id" class="text-decoration-none">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://assets.ajio.com/medias/sys_master/root/20220601/ycPr/629751bcaeb26921af04c684/-286Wx359H-441277053-beige-MODEL.jpg"
              class="img-fluid"
              alt="Printed Straight Kurta"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Printed Straight Kurta</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text"><small class="text-muted">$2.300</small></p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</main>
{% endblock body %}
